<!DOCTYPE html>
<html lang="es">
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">

     <title>Graph Page Test</title>

     <!-- Bootstrap -->
     <link href="{{ url_for('static' , filename='bootstrap.min.css') }}" rel="stylesheet">
     <!-- Bootstrap Theme -->
     <link href="{{ url_for('static' , filename='bootstrap-theme.min.css') }}" rel="stylesheet">
     <!-- Estilo -->
     <link href="{{ url_for('static' , filename='theme.css') }}" rel="stylesheet">

 </head>

<body>

    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1> Graficador</h1>
            <a type="button" class="btn btn-link" href=""> Grafique los datos</a>
        </div>
    </div>



</body>

</html>